flows.json
[{"id":"9ebf9f52.96451","type":"tab","label":"Lighting Schedules","disabled":false,"info":""},{"id":"9ff5b05f.5c9df","type":"tab","label":"IsHome","disabled":false,"info":""},{"id":"c6c6f591.9c2c28","type":"tab","label":"Remotes","disabled":false,"info":""},{"id":"87fa1cf3.7fabb","type":"tab","label":"Motion","disabled":false,"info":""},{"id":"22ccd140.89867e","type":"tab","label":"Garage","disabled":false,"info":""},{"id":"c580446f.433c88","type":"tab","label":"Lights Clipping","disabled":false,"info":""},{"id":"2c60307d.53501","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"4542639e.8168bc","type":"server","name":"Home Assistant","addon":true},{"id":"2208dfed.5fb72","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1ee2c86b.29f1a8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"88dba0ea.59705","type":"server-state-changed","z":"9ff5b05f.5c9df","name":"Tyler Home - App","server":"4542639e.8168bc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.pixel_2_xl","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":160,"wires":[["4717470d.6771b8"],["30db1702.beef78"]]},{"id":"8ce4a1ec.55eac","type":"bigtimer","z":"9ebf9f52.96451","outtopic":"sunset_timer","outpayload1":"on","outpayload2":"off","name":"1 hour before sunset","comment":"","lat":"37.398063","lon":"-122.066631","starttime":"5004","endtime":"5003","starttime2":0,"endtime2":0,"startoff":"-60","endoff":"-60","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":260,"y":200,"wires":[["7df68ab1.432a54"],[],[]]},{"id":"30db1702.beef78","type":"api-call-service","z":"9ff5b05f.5c9df","name":"Set TylerAway Boolean","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"","data":"{     \"entity_id\": \"input_boolean.tyler_home\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":160,"wires":[[]]},{"id":"3cb878a0.7dcdb8","type":"server-state-changed","z":"9ff5b05f.5c9df","name":"Tyler Home - WiFi TODO","server":"4542639e.8168bc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.pixel2xl","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":100,"wires":[["4717470d.6771b8"],["30db1702.beef78"]]},{"id":"757e46ec.791928","type":"server-state-changed","z":"9ff5b05f.5c9df","name":"Colleen Home - App","server":"4542639e.8168bc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.pixel_3a","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":340,"wires":[["e9f3610d.4d248"],["461dda20.2a2bb4"]]},{"id":"857b48b2.642248","type":"server-state-changed","z":"9ff5b05f.5c9df","name":"Colleen Home - WiFi","server":"4542639e.8168bc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.pixel3a","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":280,"wires":[["e9f3610d.4d248"],[]]},{"id":"e9f3610d.4d248","type":"api-call-service","z":"9ff5b05f.5c9df","name":"Set ColleenHome Boolean","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"","data":"{     \"entity_id\": \"input_boolean.colleen_home\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":280,"wires":[[]]},{"id":"461dda20.2a2bb4","type":"api-call-service","z":"9ff5b05f.5c9df","name":"Set ColleenAway Boolean","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"","data":"{     \"entity_id\": \"input_boolean.colleen_home\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":340,"wires":[[]]},{"id":"4717470d.6771b8","type":"api-call-service","z":"9ff5b05f.5c9df","name":"Set TylerHome Boolean","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"","data":"{\"entity_id\":\"input_boolean.tyler_home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":100,"wires":[[]]},{"id":"d98dae44.ba483","type":"server-state-changed","z":"9ff5b05f.5c9df","name":"House Guests","server":"4542639e.8168bc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.house_guests","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":620,"wires":[["c20291a5.4e24d"],["c20291a5.4e24d"]]},{"id":"585072c.263698c","type":"server-state-changed","z":"9ff5b05f.5c9df","name":"Tyler Home","server":"4542639e.8168bc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.tyler_home","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":500,"wires":[["c20291a5.4e24d"],["c20291a5.4e24d"]]},{"id":"2bc15fe2.8ca54","type":"server-state-changed","z":"9ff5b05f.5c9df","name":"Colleen Home","server":"4542639e.8168bc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.colleen_home","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":560,"wires":[["c20291a5.4e24d"],["c20291a5.4e24d"]]},{"id":"fd394167.d9982","type":"api-call-service","z":"9ff5b05f.5c9df","name":"Set HomeOccupied Boolean","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"","data":"{     \"entity_id\": \"input_boolean.home_occupied\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":540,"wires":[[]]},{"id":"34ec78e.1e69988","type":"api-call-service","z":"9ff5b05f.5c9df","name":"Set HomeEmpty Boolean","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"","data":"{     \"entity_id\": \"input_boolean.home_occupied\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":600,"wires":[[]]},{"id":"c20291a5.4e24d","type":"function","z":"9ff5b05f.5c9df","name":"Is occupied","func":"// Initialise the context vars if they don't exist already.\ncontext.set('tyler_home', context.get('tyler_home')||false);\ncontext.set('colleen_home', context.get('colleen_home')||false);\ncontext.set('house_guests', context.get('house_guests')||false);\n\nif (msg.topic === 'input_boolean.tyler_home') {\n  context.set('tyler_home', msg.payload === 'on');\n}\n\nif (msg.topic === 'input_boolean.colleen_home') {\n  context.set('colleen_home', msg.payload === 'on');\n}\n\nif (msg.topic === 'input_boolean.house_guests') {\n  context.set('house_guests', msg.payload === 'on');\n}\n\noccupied_arr = context.get(['tyler_home', 'colleen_home', 'house_guests']);\noccupied = occupied_arr[0] || occupied_arr[1] || occupied_arr[2];\nocc_str = occupied ? 'on' : 'off';\n\nvar new_msg = { payload: occ_str };\nreturn new_msg;","outputs":1,"noerr":0,"x":370,"y":560,"wires":[["751f3177.cf63"]]},{"id":"751f3177.cf63","type":"switch","z":"9ff5b05f.5c9df","name":"Is Occupied","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":560,"wires":[["fd394167.d9982"],["34ec78e.1e69988"]]},{"id":"dc34588e.04c688","type":"api-call-service","z":"9ebf9f52.96451","name":"Turn on window light","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"","data":"{     \"entity_id\": \"switch.window_light\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":140,"wires":[[]]},{"id":"3fa885e9.3ae68a","type":"server-state-changed","z":"9ebf9f52.96451","name":"Home Occupied State Change","server":"4542639e.8168bc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.home_occupied","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":240,"y":120,"wires":[["7df68ab1.432a54"]]},{"id":"a53499bd.1e0af8","type":"inject","z":"9ebf9f52.96451","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":90,"y":240,"wires":[["8ce4a1ec.55eac"]]},{"id":"6cdacf71.452c2","type":"inject","z":"9ebf9f52.96451","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":180,"wires":[["8ce4a1ec.55eac"]]},{"id":"7df68ab1.432a54","type":"function","z":"9ebf9f52.96451","name":"Is Dark and Home Occupied","func":"// initialise the context vars to false if they don't exist already.\ncontext.set('home_occupied', context.get('home_occupied')||false);\ncontext.set('good_night', context.get('good_night')||false);\ncontext.set('is_dark', context.get('is_dark')||false);\ncontext.set('last_on', context.get('last_on')||'invalid');\n\nif (msg.topic === 'input_boolean.home_occupied') {\n  context.set('home_occupied', msg.payload === 'on');\n}\n\nif (msg.topic === 'input_boolean.good_night') {\n  context.set('good_night', msg.payload === 'on');\n}\n\nif (msg.topic == 'sunset_timer') {\n  context.set('is_dark', msg.payload === 'on');\n}\n\non_arr = context.get(['home_occupied', 'good_night', 'is_dark']);\nturn_on = (on_arr[0] && on_arr[2]) && !on_arr[1];\non_str = turn_on ? 'on' : 'off';\n\n// One shot on/off.\nif (on_str === context.get('last_on')) {\n    return;\n}\n\ncontext.set('last_on', on_str)\n\nvar new_msg = {\n    payload: on_str\n};\nreturn new_msg;","outputs":1,"noerr":0,"x":540,"y":160,"wires":[["393ccbb0.5f7d84"]]},{"id":"393ccbb0.5f7d84","type":"switch","z":"9ebf9f52.96451","name":"Is On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":160,"wires":[["dc34588e.04c688"],["5ff6f86e.b82818"]]},{"id":"c7085502.c73438","type":"debug","z":"9ebf9f52.96451","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":220,"wires":[]},{"id":"5539b2ce.cd3edc","type":"server-state-changed","z":"9ebf9f52.96451","name":"Good Night State Change","server":"4542639e.8168bc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.good_night","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":230,"y":60,"wires":[["7df68ab1.432a54","bdc6b0dd.e8f4d"]]},{"id":"d23f50d1.328a7","type":"api-call-service","z":"9ebf9f52.96451","name":"Turn off all lights","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"","data":"{\"entity_id\":\"group.everything\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":60,"wires":[[]]},{"id":"bdc6b0dd.e8f4d","type":"switch","z":"9ebf9f52.96451","name":"Is On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":60,"wires":[["d23f50d1.328a7"]]},{"id":"5ff6f86e.b82818","type":"api-call-service","z":"9ebf9f52.96451","name":"Turn off window light","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"","data":"{\"entity_id\":\"switch.window_light\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":200,"wires":[[]]},{"id":"b5ad044d.131158","type":"bigtimer","z":"9ebf9f52.96451","outtopic":"sunset_timer","outpayload1":"on","outpayload2":"off","name":"Sunrise","comment":"","lat":"37.398063","lon":"-122.066631","starttime":"5003","endtime":"900","starttime2":0,"endtime2":0,"startoff":"0","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":220,"y":480,"wires":[["3d1daa20.333866"],[],[]]},{"id":"970b7193.95a0e","type":"api-call-service","z":"9ebf9f52.96451","name":"Turn off Good Night","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"","data":"{\"entity_id\":\"input_boolean.good_night\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":587,"y":472,"wires":[[]]},{"id":"3d1daa20.333866","type":"switch","z":"9ebf9f52.96451","name":"Is On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":387,"y":472,"wires":[["970b7193.95a0e"]]},{"id":"2702c264.3130ee","type":"bigtimer","z":"c6c6f591.9c2c28","outtopic":"sunset_timer","outpayload1":"on","outpayload2":"off","name":"1 hour before sunset","comment":"","lat":"37.398063","lon":"-122.066631","starttime":"5004","endtime":"5003","starttime2":0,"endtime2":0,"startoff":"-60","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":260,"y":300,"wires":[["5dfa8ec2.9f376"],[],[]]},{"id":"d3e323ae.e7109","type":"inject","z":"c6c6f591.9c2c28","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":90,"y":340,"wires":[["2702c264.3130ee"]]},{"id":"eee72b2e.3a2ce8","type":"inject","z":"c6c6f591.9c2c28","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":280,"wires":[["2702c264.3130ee"]]},{"id":"5dfa8ec2.9f376","type":"function","z":"c6c6f591.9c2c28","name":"Is Dark and Home Occupied","func":"// Initialise the context vars if they don't exist already.\n// 0 through 4 lights on.\ncontext.set('bedroom_light_level', context.get('bedroom_light_level')||0);\n// Determines which lights to turn on.\ncontext.set('is_dark', context.get('is_dark')||false);\n// Resets switch state\ncontext.set('good_night', context.get('good_night')||false);\ncontext.set('last_on', context.get('last_on')||{values: ['invalid','invalid','invalid','invalid']});\n\nprevious_level = context.get('bedroom_light_level');\ndesired_level = previous_level;\n\nif (msg.topic === 'input_boolean.good_night') {\n  on = msg.payload === 'on';\n  // Reset level when good night is turned on.\n  if (!context.get('good_night') && on) {\n    context.set('bedroom_light_level', 0)\n  }\n  context.set('good_night', msg.payload === 'on');\n}\n\nif (msg.topic === 'sunset_timer') {\n  context.set('is_dark', msg.payload === 'on');\n}\n\nif (msg.topic == 'deconz_event' && msg.payload.event.unique_id === '90:fd:9f:ff:fe:d8:6a:9d') {\n    switch (msg.payload.event.event) {\n      // Power button\n      case (1002):\n        desired_level = previous_level === 0 ? 1 : 0;\n        break;\n      // Brighter\n      case (2002):\n        desired_level = Math.min(desired_level + 1, 4);\n        break;\n      // Dimmer\n      case (3002):\n        desired_level = Math.max(desired_level - 1, 0);\n        break;\n      // Left\n      case (4002):\n        break;\n      // Right\n      case (5002):\n        break;\n      default:\n        break;\n    }\n}\n\n// If dark, swap string and stick ordering.\nis_dark = context.get('is_dark');\n\nlast_on = context.get('last_on')\n\nnew_on = ['off', 'off', 'off', 'off']\n\nnode.warn(['desired_level=', desired_level])\n\nswitch (desired_level) {\n  case (0):\n    // Equivalent to default\n    break;\n  case (4):\n    new_on[3] = 'on'\n    // Fallthrough intended.\n  case (3):\n    new_on[2] = 'on'\n    // Fallthrough intended.\n  case (2):\n    new_on[1] = 'on'\n    // Fallthrough intended.\n  case (1):\n    new_on[0] = 'on'\n    break;\n  default:\n    break;\n}\n\n// One-shot on/off. Otherwise return empty.\nstring = null\nstring_intended = new_on[is_dark ? 0 : 1]\nif (last_on[0] !== string_intended) {\n    string = { payload: string_intended };\n}\n\nstick = null\nstick_intended = new_on[is_dark ? 1 : 0]\nif (last_on[1] !== stick_intended) {\n    stick = { payload: stick_intended };\n}\n\noculus = null\noculus_intended = new_on[2]\nif (last_on[2] !== oculus_intended) {\n    oculus = { payload: oculus_intended };\n}\n\nlampy = null\nlampy_intended = new_on[3]\nif (last_on[3] !== lampy_intended) {\n    lampy = { payload: lampy_intended };\n}\n\ncontext.set('bedroom_light_level', desired_level)\ncontext.set('last_on', {values: [string_intended, stick_intended, oculus_intended, lampy_intended]})\n\nreturn [string, stick, oculus, lampy];\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":540,"y":260,"wires":[[],[],[],[]]},{"id":"d7b0e2c9.828c9","type":"switch","z":"c6c6f591.9c2c28","name":"Is On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":60,"wires":[["aeaee644.4eaa98"],["be8a2c5e.b8ff6"]]},{"id":"9a5b649e.715868","type":"server-state-changed","z":"c6c6f591.9c2c28","name":"Good Night State Change","server":"4542639e.8168bc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.good_night","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":230,"y":160,"wires":[["5dfa8ec2.9f376"]]},{"id":"aeaee644.4eaa98","type":"api-call-service","z":"c6c6f591.9c2c28","name":"Turn on string light","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"","data":"{     \"entity_id\": \"switch.string_light\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":40,"wires":[[]]},{"id":"be8a2c5e.b8ff6","type":"api-call-service","z":"c6c6f591.9c2c28","name":"Turn off string light","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"","data":"{\"entity_id\":\"switch.string_light\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":100,"wires":[[]]},{"id":"757c5042.e4b28","type":"server-events","z":"c6c6f591.9c2c28","name":"deCONZ Events","server":"4542639e.8168bc","event_type":"deconz_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":200,"y":220,"wires":[["953da76e.2b3ea8","5dfa8ec2.9f376"]]},{"id":"953da76e.2b3ea8","type":"debug","z":"c6c6f591.9c2c28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":360,"wires":[]},{"id":"7d37d1ba.ef93","type":"switch","z":"c6c6f591.9c2c28","name":"Is On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":180,"wires":[["87adc758.69ae68"],["de7a3849.e22d58"]]},{"id":"87adc758.69ae68","type":"api-call-service","z":"c6c6f591.9c2c28","name":"Turn on stick light","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"","data":"{     \"entity_id\": \"switch.stick_light\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":160,"wires":[[]]},{"id":"de7a3849.e22d58","type":"api-call-service","z":"c6c6f591.9c2c28","name":"Turn off stick light","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"","data":"{\"entity_id\":\"switch.stick_light\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":220,"wires":[[]]},{"id":"9c71598b.b0a338","type":"switch","z":"c6c6f591.9c2c28","name":"Is On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":300,"wires":[["6c51ca5d.48c3a4"],["52536545.94c9cc"]]},{"id":"6c51ca5d.48c3a4","type":"api-call-service","z":"c6c6f591.9c2c28","name":"Turn on oculus light","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"","data":"{     \"entity_id\": \"switch.oculus_light\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":280,"wires":[[]]},{"id":"52536545.94c9cc","type":"api-call-service","z":"c6c6f591.9c2c28","name":"Turn off oculus light","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"","data":"{\"entity_id\":\"switch.oculus_light\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":340,"wires":[[]]},{"id":"cd245be6.80b378","type":"switch","z":"c6c6f591.9c2c28","name":"Is On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":420,"wires":[["4681d5b4.a6c75c"],["7e7f1bec.3721d4"]]},{"id":"4681d5b4.a6c75c","type":"api-call-service","z":"c6c6f591.9c2c28","name":"Turn on lampy","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"","data":"{     \"entity_id\": \"switch.lampy_mclamp_face\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":400,"wires":[[]]},{"id":"7e7f1bec.3721d4","type":"api-call-service","z":"c6c6f591.9c2c28","name":"Turn off lampy","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"","data":"{\"entity_id\":\"switch.lampy_mclamp_face\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":460,"wires":[[]]},{"id":"8efd26b7.49c2a8","type":"server-state-changed","z":"87fa1cf3.7fabb","name":"Front Door Motion Detected","server":"4542639e.8168bc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door_motion","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":380,"y":160,"wires":[["491961a1.ed568","bb636570.fbe378"]]},{"id":"d97f6c08.a8f8b","type":"api-call-service","z":"87fa1cf3.7fabb","name":"Turn on kitchen light","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"{\"entity_id\":\"light.kitchen_light\",\"brightness\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":120,"wires":[[]]},{"id":"21fa2885.097898","type":"bigtimer","z":"87fa1cf3.7fabb","outtopic":"sunset_timer","outpayload1":"on","outpayload2":"off","name":"1 hour before sunset","comment":"","lat":"37.398063","lon":"-122.066631","starttime":"5004","endtime":"5003","starttime2":0,"endtime2":0,"startoff":"-60","endoff":"-60","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":380,"y":220,"wires":[["491961a1.ed568","bb636570.fbe378"],[],[]]},{"id":"491961a1.ed568","type":"function","z":"87fa1cf3.7fabb","name":"Is Dark and Motion Detected","func":"// Initialize the context vars to false if they don't exist already.\ncontext.set('good_night', context.get('good_night')||false);\ncontext.set('is_dark', context.get('is_dark')||false);\ncontext.set('light_on', context.get('light_on')||false);\ncontext.set('light_off_ms', context.get('light_off_ms')||0);\ncontext.set('motion_detected', context.get('motion_detected')||false);\ncontext.set('last_motion_detected_ms', context.get('last_motion_detected_ms')||0);\ncontext.set('last_on', context.get('last_on')||'invalid');\n\nif (msg.topic === 'input_boolean.good_night') {\n  context.set('good_night', msg.payload === 'on');\n}\n\nif (msg.topic === 'sunset_timer') {\n  context.set('is_dark', msg.payload === 'on');\n}\n\nif (msg.topic === 'binary_sensor.front_door_motion') {\n    context.set('motion_detected', msg.payload === 'on');\n    if (context.get('motion_detected')) {\n      context.set('last_motion_detected_ms', Date.now());\n    }\n}\n\nif (msg.topic === 'light.kitchen_light') {\n    context.set('light_on', msg.payload === 'on');\n    if (!context.get('light_on')) {\n        context.set('last_motion_detected_ms', 0);\n        context.set('light_off_ms', Date.now());\n    }\n}\n\nnode.warn(context.get(['good_night', 'is_dark', 'light_on', 'motion_detected', 'last_on']));\nnode.warn(context.get(['light_off_ms', 'last_motion_detected_ms']))\n\nvar timeout_ms  = 300000;  // 5 minutes.\nvar cooldown_ms = 600000;  // 10 minutes.\n\n// motion detected & off for n minutes -> turn on (from motion)\n// x min no motion & on from motion -> turn off\n// On from motion and light turned off -> reset last motion time\non_arr = context.get(['good_night', 'is_dark']);\nturn_on = !on_arr[0] && on_arr[1] && Date.now() -\n  context.get('last_motion_detected_ms') < timeout_ms &&  // 5 minutes.\n  Date.now() - context.get('light_off_ms') > cooldown_ms;  // 10 minutes.\n\non_str = turn_on ? 'on' : 'off';\n\n// One shot on/off.\nif (on_str === context.get('last_on')) {\n    return;\n}\n\ncontext.set('last_on', on_str)\n\nvar new_msg = {\n    payload: on_str\n};\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":160,"wires":[["bb636570.fbe378","68ef3c31.e93644"]]},{"id":"d8fc38b3.39e218","type":"server-state-changed","z":"87fa1cf3.7fabb","name":"Good Night State Change","server":"4542639e.8168bc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.good_night","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":390,"y":100,"wires":[["491961a1.ed568","bb636570.fbe378"]]},{"id":"bb636570.fbe378","type":"debug","z":"87fa1cf3.7fabb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":240,"wires":[]},{"id":"68ef3c31.e93644","type":"switch","z":"87fa1cf3.7fabb","name":"Is On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":140,"wires":[["d97f6c08.a8f8b"],["3cca109c.44c33"]]},{"id":"3cca109c.44c33","type":"api-call-service","z":"87fa1cf3.7fabb","name":"Turn off kitchen light","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"{\"entity_id\":\"light.kitchen_light\",\"brightness\":0}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":180,"wires":[[]]},{"id":"321da406.4056ec","type":"server-state-changed","z":"87fa1cf3.7fabb","name":"Kitchen Light State","server":"4542639e.8168bc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.kitchen_light","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":390,"y":40,"wires":[["491961a1.ed568","bb636570.fbe378"]]},{"id":"f4dcf987.61e528","type":"server-events","z":"c6c6f591.9c2c28","name":"","server":"4542639e.8168bc","event_type":"","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":210,"y":540,"wires":[["de26b707.427cf8"]]},{"id":"de26b707.427cf8","type":"debug","z":"c6c6f591.9c2c28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":560,"wires":[]},{"id":"2182eeac.e228c2","type":"server-state-changed","z":"c580446f.433c88","name":"Bedroom Light State","server":"4542639e.8168bc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.bedroom_light","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":170,"y":60,"wires":[["ad2029d6.cad2f8","66a31958.07b8e8"]]},{"id":"66a31958.07b8e8","type":"switch","z":"c580446f.433c88","name":"Is On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":60,"wires":[["baa9d83.eb3a228"]]},{"id":"ad2029d6.cad2f8","type":"debug","z":"c580446f.433c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":120,"wires":[]},{"id":"58deebab.33fe24","type":"api-call-service","z":"c580446f.433c88","name":"Bedroom lights 100%","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"{\"entity_id\":\"light.bedroom_light\",\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":60,"wires":[[]]},{"id":"3bc79173.5c5bae","type":"server-state-changed","z":"c580446f.433c88","name":"Bathroom Light State","server":"4542639e.8168bc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.bathroom_light","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":180,"y":200,"wires":[["5af555cf.ab691c","ad2029d6.cad2f8"]]},{"id":"5af555cf.ab691c","type":"switch","z":"c580446f.433c88","name":"Is On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":200,"wires":[["e2a20a00.40d538"]]},{"id":"c5db7f7d.719bb","type":"api-call-service","z":"c580446f.433c88","name":"Bathroom lights 100%","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"{\"entity_id\":\"light.bathroom_light\",\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":200,"wires":[[]]},{"id":"e2a20a00.40d538","type":"switch","z":"c580446f.433c88","name":"Brightness < 255","property":"data.new_state.attributes.brightness","propertyType":"msg","rules":[{"t":"lt","v":"255","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":200,"wires":[["c5db7f7d.719bb"]]},{"id":"baa9d83.eb3a228","type":"switch","z":"c580446f.433c88","name":"Brightness < 255","property":"data.new_state.attributes.brightness","propertyType":"msg","rules":[{"t":"lt","v":"255","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":60,"wires":[["58deebab.33fe24"]]},{"id":"e3e45f80.5880f","type":"mqtt in","z":"2c60307d.53501","name":"Shellies","topic":"shellies/#","qos":"2","datatype":"auto","broker":"1ee2c86b.29f1a8","x":260,"y":460,"wires":[["5d8618c4.e0a698"]]},{"id":"5d8618c4.e0a698","type":"debug","z":"2c60307d.53501","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":460,"wires":[]},{"id":"1fb32ed1.cf33a1","type":"server-state-changed","z":"22ccd140.89867e","name":"Garage Door Open","server":"4542639e.8168bc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.garage_door_sensor","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":270,"y":180,"wires":[["7a10e2ab.95926c","a91e4886.f18d48"],["7a10e2ab.95926c"]]},{"id":"7a10e2ab.95926c","type":"debug","z":"22ccd140.89867e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":260,"wires":[]},{"id":"a91e4886.f18d48","type":"delay","z":"22ccd140.89867e","name":"","pauseType":"delay","timeout":"45","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":180,"wires":[["dd2cf66d.4b1b78","a8904ce0.c8568"]]},{"id":"a8904ce0.c8568","type":"api-call-service","z":"22ccd140.89867e","name":"Notify Colleen's Phone","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_colleen_phone","entityId":"","data":"{\"title\":\"Garage Open\",\"message\":\"The garage has been open for 45 minutes.\",\"data\":{\"actions\":[{\"action\":\"CLOSE_GARAGE\",\"title\":\"Close Garage\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":180,"wires":[[]]},{"id":"dd2cf66d.4b1b78","type":"api-call-service","z":"22ccd140.89867e","name":"Notify Tyler's Phone","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_tyler_phone","entityId":"","data":"{\"title\":\"Garage Open\",\"message\":\"The garage has been open for 45 minutes.\",\"data\":{\"actions\":[{\"action\":\"CLOSE_GARAGE\",\"title\":\"Close Garage\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":240,"wires":[[]]},{"id":"a6a62e1f.850e6","type":"server-events","z":"22ccd140.89867e","name":"Mobile App Notification Close Garage Action","server":"4542639e.8168bc","event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":310,"y":360,"wires":[["7a10e2ab.95926c","65bc3990.bab988"]]},{"id":"8e749d59.3b387","type":"api-call-service","z":"22ccd140.89867e","name":"Close Garage Door","server":"4542639e.8168bc","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.garage_door","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":360,"wires":[[]]},{"id":"65bc3990.bab988","type":"switch","z":"22ccd140.89867e","name":"if is CLOSE_GARAGE Notification Action","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"CLOSE_GARAGE","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":360,"wires":[["96d1163d.fba198","8e749d59.3b387"]]},{"id":"96d1163d.fba198","type":"debug","z":"22ccd140.89867e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":440,"wires":[]}]
